<nav class="dispatcher-nav">
    <NavLink class="dispatcher-nav__link" href="" Match="NavLinkMatch.All">
        Overview
    </NavLink>

    <NavLink class="dispatcher-nav__link" href="system">
        System
    </NavLink>

    <NavLink class="dispatcher-nav__link" href="objects">
        Objects
    </NavLink>

    <NavLink class="dispatcher-nav__link" href="devices">
        Devices
    </NavLink>

    <NavLink class="dispatcher-nav__link" href="tags">
        Tags
    </NavLink>

    <NavLink class="dispatcher-nav__link" href="runtime">
        Runtime
    </NavLink>

    <NavLink class="dispatcher-nav__link" href="events">
        Events
    </NavLink>

    <NavLink class="dispatcher-nav__link" href="alarms">
        Alarms
    </NavLink>
</nav>